# Ignore files
.DS_Store
__pycache__/
*.pyc

# Ignore environment
envs/

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Igore VSCode settings
.vscode/

# Ignore specific notebooks
hf.ipynb

# Ignore model outputs
models/

*.bin
*.pt
*.ckpt